
<br/>
<h3 align="Center   ">Meeting Scheduled</h3>

<p>
  <strong>Title:</strong>
  <%= @calendars.title %>
</p>

<p>
  <strong>Location:</strong>
  <%= @calendars.location %>
</p>

    <p>
      <strong>Name:</strong>
      <%= @calendars.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @calendars.description %>
    </p>

